.cardPost{
    width: 70%;
    margin: 2%;
    background-color: #424242 !important;
    box-shadow: 0 8px 8px rgb(0, 0, 0) !important;
}


.MuiCardHeader-root, .MuiCardHeader-subheader, .MuiCardContent-root{
    color: #eeeeee !important;
}

.MuiCardHeader-root{
    background-color: #d32f2f;
}

.MuiCardActions-root{
    justify-content: center !important;
    height: 20px;
}

@media (max-width: 800px) {
    .cardPost{
        width: 100%;
        margin: 2%;
        background-color: #424242 !important;
        box-shadow: 0 8px 8px rgb(0, 0, 0) !important;
    }
}