.containerPosteos{
    min-height: 70vh;
}

.stackPosteos{
    flex-wrap: 'wrap';
    padding: '5%';
    align-items: center; /* Centra los elementos */
    min-height: 60vh;
}

.stackPaginacion{
    margin-top: 3vh;
}

.MuiPagination-ul{
    justify-content: center !important;
}

.MuiPaginationItem-root{
    color: goldenrod !important;
}

.MuiPaginationItem-root:hover{
    background-color: goldenrod !important;
    color: black !important;
}

.Mui-selected{
    background-color: goldenrod !important;
    color: black !important;
}

@media (max-width: 500px) {
    .stackPosteos{
        flex-direction: column /* Cambia a disposición vertical */ !important;
        align-items: center; /* Centra los elementos */
    }
}